
<div class="container">
  <h1>Answer page</h1>
  <br>

  <div class="question">
    <div class="bar">

    </div>
    <div class="questionsection">
      <p>
        <%= @question %>
        <br>
        - You
      </p>
    </div>
  </div>
  <br>

  <div class="question">
    <div class="bar">

    </div>
    <div class="answersection">
      <p>
        Answer unknown... You should ask Daisy
        <br>
        - Daisy's answer
      </p>
    </div>
  </div>

  <br>
  <div class="answerscontainer">
    <h3>What is her answer?</h3>
    <a href="https://www.youtube.com/watch?v=l0U7SxXHkPY&ab_channel=FutureVEVO" class="answer">Yes</a>
    <a href="https://www.youtube.com/watch?v=ZsT1it_dObI&ab_channel=LilBabyVEVO" class="answer">No</a>
  </div>
</div>
