
<div class="container">
  <h1>Ask your stupid question:</h1>

  <form action="/answer" method="get" class="form">
    <input id="answer" type="text" name="question" placeholder="Ask me anything">
    <input id="submitbutton" type="submit" value="Ask!">
  </form>
</div>
