
<div class="container">
  <h1>Who would you like to date?</h1>

  <form action="/answer" method="get" class="form">
    <input id="answer" type="text" name="question">
    <input id="submitbutton" type="submit" value="Let's see">
  </form>
</div>
